.search-bar {
  max-width: 295px;
}

.search-bar input {
  width: 100%;
  height: 2.5em;
  padding: 0.25em;
  box-sizing: border-box;
}

.search-bar .search {
  width: 2em;
  bottom: 0;
  top: 0.25em;
  right: 0.25em;
  background: transparent;
  outline: none !important;
}

.search-bar .search img {
  max-width: 100%;
}

@media (max-width: 600px) {
  .search-content {
    text-align: center;
  }

  .search-bar {
    max-width: 100%;
  }

  .search input {
    width: 100%;
  }
}
